{
  "$schema": "https://getkulala.net/http-client.private.env.schema.json",
  "dev": {
    "apiToken": "put-your-dev-bearer-token-here",
    "loginEmail": "test@example.com",
    "loginPassword": "put-your-dev-password-here"
  },
  "staging": {
    "apiToken": "put-your-staging-bearer-token-here",
    "loginEmail": "test@example.com",
    "loginPassword": "put-your-staging-password-here"
  },
  "production": {
    "apiToken": "put-your-production-bearer-token-here",
    "loginEmail": "",
    "loginPassword": ""
  }
}
